body {
  cursor:
    url("/cursors/arrow.png") 0 0,
    auto;
}

button,
a {
  cursor:
    url("/cursors/pointer.png") 10 10,
    pointer;
}

input,
textarea,
[contenteditable="true"] {
  cursor:
    url("/cursors/beam.png") 10 10,
    text;
}
